<!-- Sidebar -->
<aside class="w-64 pr-6 h-screen sticky top-0">
    <nav class="space-y-2 mb-40">
        <a href="/dashboard" class="block px-4 py-2 text-gray-700 hover:bg-gray-100 rounded">Dashboard</a>
        <a href="/homework" class="block px-4 py-2 text-gray-700 hover:bg-gray-100 rounded">Homeworks</a>
        <a href="/chats" class="block px-4 py-2 text-gray-700 hover:bg-gray-100 rounded">Chats</a>
    </nav>
    <a href="/homework_upload" class="block px-4 py-2 mr-4 text-center bg-purple-700 text-white hover:bg-purple-500 rounded"> + Submit Homework </a>
</aside>

